<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-3.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-3.jpg)"></div>
  </div>

  <div class="main-panel">
    <!-- Navbar fixe en haut -->
    <app-navbar></app-navbar>
    
    <!-- Contenu principal - placé dans un conteneur spécifique -->
    <div class="main-content-container">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="isMaps('maps')">
      <app-footer></app-footer>
    </div>
  </div>

  <div class="fixed-plugin">
    
  </div>
</div>