<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" [class.form-open]="isFormPage">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        
        <div class="d-flex align-items-center flex-grow-1">
            <a class="navbar-brand me-3" href="javascript:void(0)">{{getTitle()}}</a>
            
            <div class="collapse navbar-collapse">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" 
                               placeholder="Rechercher..." 
                               (input)="onSearchChange($event)"
                               [class.search-focused]="isFormPage">
                        <button type="submit" class="btn btn-search">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>